/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*************************** general ***************************/
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "mullerregular";
}

textarea:focus, input:focus {
  outline: none;
}

#wrapper {
  min-width: 320px;
}

.section {
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.dib {
  display: inline-block;
  vertical-align: top;
}

/*************************** header ***************************/
.header {
  position: relative;
}
.header .nav {
  height: 140px;
  padding-top: 20px;
  width: 100%;
}
.header .nav .logo {
  float: left;
  width: 30%;
  position: relation;
}
.header .nav .logo img {
  height: 80px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.header .nav .logo p {
  font-size: 27px;
  font-family: "mullermedium";
  line-height: 27px;
  display: inline-block;
  color: #404040;
  vertical-align: middle;
}
.header .nav .menu {
  height: 80px;
  line-height: 80px;
  width: 60%;
  float: right;
}
.header .nav .menu__items {
  float: right;
}
.header .nav .menu__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 35px;
}
.header .nav .menu__link {
  text-decoration: none;
  padding: 4px 0;
  font-family: "mullerregular";
  text-shadow: 2px 0px 11px rgba(0, 0, 0, 0.2);
}
.header .nav .menu__home {
  color: #404040;
}
.header .nav .menu__home:hover {
  border-bottom: 1px solid #333333;
}
.header .nav .menu__portfolio {
  color: #23c869;
}
.header .nav .menu__portfolio:hover {
  border-bottom: 1px solid #1fb25e;
}
.header .nav .menu__about-me {
  color: #23afc8;
}
.header .nav .menu__about-me:hover {
  border-bottom: 1px solid #1f9cb2;
}
.header .nav .menu__contacts {
  color: #feb62b;
}
.header .nav .menu__contacts:hover {
  border-bottom: 1px solid #fead12;
}
.header .nav .menu__telegram img {
  width: 35px;
}
.header-inner {
  min-height: 646px;
  position: relative;
}
.header-inner h1 {
  position: relative;
  top: 190px;
  font-family: "mullerextrabold";
  color: #141414;
  font-size: 60px;
  text-transform: uppercase;
  left: 80px;
}
.header-inner .header__link {
  width: 260px;
  height: 60px;
  background-color: #141414;
  border: none;
  text-align: center;
  font-family: "mullerregular";
  color: #fff;
  position: relative;
  display: block;
  line-height: 54px;
  font-size: 26px;
  transition: 0.5s;
  border: 3px solid #141414;
  left: 130px;
  top: 260px;
  font-family: "mullerregular";
}
.header-inner .header__link:hover {
  background-color: transparent;
  transition: 0.5s;
  color: #141414;
}
.header-inner img {
  float: right;
  position: relative;
  top: -100px;
}

/*************************************************************/
.portfolio {
  clear: both;
  width: 100%;
  position: relative;
}
.portfolio h2 {
  font-size: 52px;
  text-align: center;
  font-family: "mullerbold";
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-family: "mullerbold";
}
.portfolio__items {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 35px;
}
.portfolio__link {
  font-size: 20px;
  font-family: "mullerlight";
  padding: 3px 0;
  border-bottom: 1px solid transparent;
}
.portfolio__link:hover {
  border-color: #141414;
  transition: 0.3s;
}
.portfolio__link a {
  color: #7f7f7f;
}
.portfolio__link a:hover {
  color: #141414;
  transition: 0.3s;
}
.portfolio .works {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio .works .work {
  flex-basis: 25%;
  position: relative;
  min-height: 20px;
  background-color: #ccc;
}
.portfolio .works .work:hover .work_hover {
  opacity: 1;
  transition: 0.5s;
}
.portfolio .works .work img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}
.portfolio .works .work_hover {
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
  font-family: "mullerregular";
}
.portfolio .works .work_hover h3 {
  font-size: 28px;
  font-family: "mullermedium";
  margin-top: 48px;
  margin-bottom: 40px;
}
.portfolio .works .work_hover p {
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  max-height: 68px;
  overflow: hidden;
}
.portfolio .works .work_hover .work__link {
  width: 141px;
  height: 30px;
  background-color: #fff;
  border: none;
  text-align: center;
  font-family: "mullerregular";
  color: #404040;
  position: relative;
  display: block;
  line-height: 26px;
  font-size: 14px;
  transition: 0.5s;
  border: 2px solid #fff;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 70px);
  display: block;
  font-family: "mullermedium";
}
.portfolio .works .work_hover .work__link:hover {
  font-family: "mullerbold";
  background-color: transparent;
  transition: 0.5s;
  color: #fff;
}
.portfolio__show-more {
  width: 261px;
  height: 51px;
  background-color: #141414;
  border: none;
  text-align: center;
  font-family: "mullerregular";
  color: #fff;
  position: relative;
  display: block;
  line-height: 45px;
  font-size: 18px;
  transition: 0.5s;
  border: 3px solid #141414;
  margin: 36px auto 112px;
  font-family: "mullermedium";
}
.portfolio__show-more:hover {
  font-family: "mullerbold";
  background-color: transparent;
  transition: 0.5s;
  color: #141414;
}

/*****************************************************************/
.about-me {
  min-height: 695px;
  position: relative;
}
.about-me__photo {
  background-image: url(../img/my-white.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 600px;
  width: 54%;
  position: absolute;
  right: 0;
  top: 0;
}
.about-me__info {
  width: 530px;
  padding: 15px;
  position: relative;
}
.about-me__info h2 {
  font-size: 52px;
  text-align: center;
  font-family: "mullerbold";
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.about-me__info p {
  font-size: 22px;
  font-family: "mullerlight";
  color: #141414;
}
.about-me img {
  position: absolute;
  top: 0;
  right: 0;
}

/****************************************************/
.contacts {
  min-height: 542px;
  position: relative;
}
.contacts__form {
  width: 743px;
  display: inline-block;
  vertical-align: top;
}
.contacts h2 {
  font-size: 52px;
  text-align: center;
  font-family: "mullerbold";
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 65px;
}
.contacts #contacts__name, .contacts #contacts__email, .contacts #contacts__telegram {
  width: 260px;
  height: 50px;
  background-color: transparent;
  font-family: "mullerlight";
  position: relative;
  display: block;
  font-size: 15px;
  transition: 0.5s;
  border: 2px solid #141414;
  padding-left: 10px;
  margin-bottom: 27px;
}
.contacts #contacts__message {
  width: 400px;
  height: 205px;
  background-color: transparent;
  font-family: "mullerlight";
  position: relative;
  display: block;
  font-size: 15px;
  transition: 0.5s;
  border: 2px solid #141414;
  padding-left: 10px;
  display: inline-block;
  line-height: 1.3;
  padding-top: 10px;
  margin-left: 40px;
  resize: none;
}
.contacts #contacts__submit {
  width: 210px;
  height: 50px;
  background-color: #23c869;
  font-family: "mullerregular";
  position: relative;
  display: block;
  font-size: 18px;
  transition: 0.3s;
  border: none;
  margin-left: 230px;
  margin-top: 26px;
}
.contacts #contacts__submit:hover {
  font-family: "mullermedium";
  transition: 0.3s;
  background-color: #27b262;
}
.contacts__soc {
  width: 273px;
  vertical-align: top;
  display: inline-block;
}
.contacts__soc span {
  width: 180px;
  color: #141414;
  margin-top: 7px;
  font-family: "mullerlight";
  font-size: 17px;
  line-height: 1.25;
  position: relative;
  left: 30px;
}
.contacts__soc .soc__span2 {
  width: 150px;
  left: 15px;
  font-size: 18px;
  margin-top: 14px;
}
.contacts__soc .soc__item {
  margin-bottom: 27px;
  position: relative;
  margin-right: 48px;
}
.contacts__soc .soc__item:last-child {
  margin-right: 0;
}

/****************************************************/
.footer {
  background-color: #404040;
  position: relative;
  height: 90px;
}
.footer h4 {
  line-height: 90px;
  font-size: 18px;
  margin-left: 86px;
  color: #fff;
  font-family: "mullerlight";
  letter-spacing: 1.35;
}
