¸/*   STYLE FOR    */
/*   Powered by NURstudio.ru    */

/*  CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper{
    position: relative;
    font-family: Arial;
    background-color: #aaa;
    padding: 10px 0;
    
}
#wrapper-inner{
    box-shadow: 0 1px 10px 1px #333;
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
#header, #footer {
    position: relative;
    height: 250px;
}

#header1, #footer2 {
    position: relative;
    background-color: #777;
    height: 50px;
}
#header2, #footer1 {
    position: relative;
    background-color: #ddd;
    height: 200px;
    text-align: center;
    font-size: 48px;
    color:forestgreen;
}
#body {
    background-color: #eee;
    padding: 25px;
    box-sizing: border-box;
    z-index: 5;
}
h1 {
    position: relative;
    top: 77px;
}
h2 {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
p {
    font-style: italic;
    font-weight: bold;
}
.hide ul {
     display: none;
     background-color: #363636;
     color: springgreen;
     border-radius: 5px;
     box-shadow: 0 1px 13px 2px #333;
     padding: 3px 10px;
     box-sizing: border-box;
     margin: 10px auto;
     
}
.hide:hover ul {
    display: block;
    transition-property:  display;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; 
}
#footer img {
    width: 1000px;
    float: left;
    position: relative;
    top: -400px;
    z-index: 0;
}
#header img {
    width: 100px;
    position: relative;
    float: left;
    margin: 50px 0px 0px 50px;
}