#about-me.about-me
  #device980.section
    .about-me__info
      h2 Обо мне
      h1
        | Меня зовут Гаджи,
        span.about-me__old 24
        |  года. Front-end разработчик на
        a(href='https://vuejs.org/' target='_blank' rel='nofollow noopener') Vue.js
        | .
      p Нет предела совершенству, главное не останавливаться.
      p Основные мои навыки:
      ul
        li
          span html5
          |  (pug, blade);
        li
          span css3
          |  (sass/less);
        li
          span javascript
          |  (vue.js[router, vuex], typescript, fetch, axios, jquery);
        li Adobe Photoshop, Figma;
        li Английский (базовые знания);
        li Git, Docker, Jest
  .about-me__photo
    img(src='./assets/img/about_me.jpg' alt='моя фотография')
