header#header.header.day-bg
  .section
    nav.nav
      .logo
        img(src='./assets/img/logo.png' alt='логотип')
        p.day-text gkhabada
      .menu
        ul.menu__items
          li.menu__item
            a.menu__link.menu__home.day-text(href='#header') Главная
          li.menu__item
            a.menu__link.menu__portfolio(href='#portfolio') Портфолио
          li.menu__item
            a.menu__link.menu__about-me(href='#about-me') Обо мне
          li.menu__item
            a.menu__link.menu__contacts(href='#contacts') Контакты
    .header-inner
      h2
        span.rubbb.day-text f
        span.rubbb.day-text r
        span.rubbb.day-text o
        span.rubbb.day-text n
        span.rubbb.day-text t
        span.rubbb.day-text -
        span.rubbb.day-text e
        span.rubbb.day-text n
        span.rubbb.day-text d
        br
        span.front.day-text d
        span.front.day-text e
        span.front.day-text v
        span.front.day-text e
        span.front.day-text l
        span.front.day-text o
        span.front.day-text p
        span.front.day-text e
        span.front.day-text r
      a.header__link.day-button(href='https://github.com/gkhabada' rel='nofollow noopener' target='_blank') github
      img(src='./assets/img/header.png' alt='frontend')
