header#header.header
  .section
    nav.nav
      .logo
        img(src='./assets/img/logo.png' alt='логотип')
        p gkhabada
      .menu
        ul.menu__items
          li.menu__item
            a.menu__link.menu__home(href='#header') Главная
          li.menu__item
            a.menu__link.menu__portfolio(href='#portfolio') Портфолио
          li.menu__item
            a.menu__link.menu__about-me(href='#about-me') Обо мне
          li.menu__item
            a.menu__link.menu__contacts(href='#contacts') Контакты
    .header-inner
      h2
        span.rubbb f
        span.rubbb r
        span.rubbb o
        span.rubbb n
        span.rubbb t
        span.rubbb -
        span.rubbb e
        span.rubbb n
        span.rubbb d
        br
        span.front d
        span.front e
        span.front v
        span.front e
        span.front l
        span.front o
        span.front p
        span.front e
        span.front r
      a.header__link(href='https://github.com/gkhabada' rel='nofollow noopener' target='_blank') github

      // .header__for-img
      //   img(src='./assets/img/header.png' alt='frontend')
