footer
  .footer__block.container
    .footer__logo
      img(src='./images/logo.svg' alt='gkhabada')
      span gkhabada
    .footer__soc
      a.footer__soc_link(href='https://github.com/gkhabada' target='blank')
        img(src="/images/soc/github.svg" alt="github")
      a.footer__soc_link(href='mailto:gkhabada@mail.ru' target='blank')
        img(src="/images/soc/email.svg" alt="email")
      a.footer__soc_link(href='https://yandex.ru/maps/100617/khunzakh' target='blank')
        img(src="/images/soc/location.svg" alt="location")

  .footer__block.container
    p.footer__text
      | Gkhabada © 2017-
      span.footer__text_year 2024
    nav.footer__menu
      a.footer__menu_link(href='#zero') Главная
      a.footer__menu_link(href='#experience') Опыт
      a.footer__menu_link(href='#projects') Пет
      a.footer__menu_link(href='https://t.me/gkhabada' target='blank') Связаться
