head
  title Frontend разработчик Гаджи | gkhabada
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Портфолио frontend разработчика Гаджидадаева Гаджи')
  meta(name='keywords' content='Frontend, Frontend, JavaScript, Vue, Gadzhidadaev, Гаджидадаев, Гаджи, Дагестан')
  meta(name='author' content='Гаджи Гаджидадаев')
  meta(name='geo.placename' content='Махачкала, Россия')
  meta(name='geo.region' content='RU-Махачкала')
  meta(name='application-name' content='Portfolio Frontend developer Gadzhidadaev')
  meta(name='robots' content='all')
  meta(property='og:locale' content='ru_RU')
  meta(property='og:type' content='Portfolio of frontend developer')
  meta(property='og:title' content='Frontend developer Gadzhidadaev')
  meta(property='og:description' content='Портфолио frontend разработчика Гаджидадаева Гаджи')
  meta(property='og:url' content='https://gkhabada.ru/')
  meta(property='og:site_name' content='Frontend разработчик Гаджи')
  meta(property='og:image' content='./images/logo.png')
  meta(itemprop='headline' content='Portfolio of frontend developer')
  meta(itemprop='description' content='Портфолио frontend разработчика Гаджидадаева Гаджи')
  meta(itemprop='image' content='./images/logo.png')

  link(rel='icon' href='./images/logo.png' type='image/png')
  link(rel='icon' href='./images/logo.png' sizes='16x16' type='image/png')
  link(rel='icon' href='./images/logo.png' sizes='32x32' type='image/png')
  link(rel='icon' href='./images/logo.png' sizes='48x48' type='image/png')
  link(rel='icon' href='./images/logo.png' sizes='62x62' type='image/png')
  link(rel='icon' href='./images/logo.png' sizes='192x192' type='image/png')
  link(rel='apple-touch-icon' sizes='180x180' href='./images/logo.png')
  link(rel='apple-touch-icon' sizes='152x152' href='./images/logo.png')
  link(rel='apple-touch-icon' sizes='167x167' href='./images/logo.png')
