head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Сайт frontend разработчика Гаджидадаева Гаджи gkhabada, создание сайтов')
  meta(name='keywords' content='Frontend,Web,programing,программирования,Создание сайтов,Махачкала,Хунзах,HTML,CSS,JavaScript,Vue,jquery')
  meta(name='author' content='Гаджи Гаджидадаев')
  meta(name='geo.placename' content='Хунзах, Россия')
  meta(name='geo.position' content='42.5409834;46.7006393')
  meta(name='geo.region' content='RU-Махачкала')
  meta(name='application-name' content='Portfolio Frontend developer Gadzhidadaev')
  meta(name='robots' content='all')
  meta(name='robots' content='index, follow')
  meta(name='googlebot' content='index,follow')
  meta(name='yandex' content='index,follow')
  meta(property='og:locale' content='ru_RU')
  meta(property='og:type' content='Portfolio of frontend developer')
  meta(property='og:title' content='Frontend developer Gadzhidadaev')
  meta(property='og:description' content='Сайт frontend разработчика Гаджидадаева Гаджи')
  meta(property='og:url' content='http://gkhabada.h1n.ru/')
  meta(property='og:site_name' content='Портфолио Гаджидадаева Гаджи')
  meta(property='og:image' content='http://gkhabada.h1n.ru/img/for-soc.png')
  meta(itemprop='headline' content='Portfolio of frontend developer')
  meta(itemprop='description' content='Сайт frontend разработчика Гаджидадаева Гаджи')
  meta(itemprop='image' content='http://gkhabada.h1n.ru/img/for-soc.png')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic' rel='stylesheet')
  title Сайт frontend разработчика Гаджидадаева Гаджи gkhabada
  link(rel='icon' href='./assets/logo.png' type='image/png')
  link(rel='icon' href='./assets/logo.png' sizes='16x16' type='image/png')
  link(rel='icon' href='./assets/logo.png' sizes='32x32' type='image/png')
  link(rel='icon' href='./assets/logo.png' sizes='48x48' type='image/png')
  link(rel='icon' href='./assets/logo.png' sizes='62x62' type='image/png')
  link(rel='icon' href='./assets/logo.png' sizes='192x192' type='image/png')
  link(rel='apple-touch-icon' href='older-iPhone.png')
  link(rel='apple-touch-icon' sizes='180x180' href='./assets/logo.png')
  link(rel='apple-touch-icon' sizes='152x152' href='./assets/logo.png')
  link(rel='apple-touch-icon' sizes='167x167' href='./assets/logo.png')
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-156921241-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-156921241-1');

  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(55392121, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
    });
