header
  .container
    .header__logo
      img(src='./images/logo-dark.webp' alt='gk')
      span gkhabada
    nav.header__menu
      a.header__menu_link(href='#zero') Главная
      a.header__menu_link(href='#about-me') Опыт
      a.header__menu_link(href='#projects') Кейсы
      a.header__menu_btn(href='https://t.me/gkhabada' target='blank') Связаться

