-
  var projects = [
    {
      "title": "Тетрис",
      "link": "https://gkhabada.github.io/gkhabada-tetris/",
      "img": "tetris"
    },
    {
      "title": "Игра на JavaScript",
      "link": "https://gkhabada.github.io/fastclick_game/",
      "img": "game"
    },
    {
      "title": "Фильмы с tmdb",
      "link": "https://gkhabada.github.io/tmdb_api/",
      "img": "tmdb"
    },
    {
      "title": "Криптовалюта",
      "link": "https://gkhabada.github.io/Cryptocompare/",
      "img": "cryptocompare"
    },
    //-  {
    //-   "title": "Compas",
    //-   "link": "https://gkhabada.github.io/compas/",
    //-   "img": "compas"
    //- },
    //- {
    //-   "title": "Allrebates",
    //-   "link": "./dist/works/allrebates/index.html",
    //-   "img": "allrebates"
    //- },
  ]

section#projects.projects.container
  .projects__header
    h3.block__title Пет-проекты
    h4.block__description Тестовые проекте, которыми занимался в свободное время для освоение новых технологий.

  .projects__items
    each project in projects
      a.projects__item(href=project.link target="black")
        .projects__item_image
          img(src=`./images/projects/${project.img}.webp` alt=project.title)
        h5.projects__item_title= project.title

