section#tech.tech.container
  .tech__header
    h3.block__title Технологии
    h4.block__description Указанны активно использовавшиеся в работе. Есть куча других, просто пощупанных.

  .tech__items
    a.tech__item_item(href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank")
      img(src="./images/tech/html.webp" alt="html")
      span HTML
    a.tech__item_item(href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank")
      img(src="./images/tech/css.webp" alt="css")
      span CSS
    a.tech__item_item(href="https://sass-lang.com" target="_blank")
      img(src="./images/tech/sass.webp" alt="sass")
      span Scss
    a.tech__item_item(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank")
      img(src="./images/tech/javascript.webp" alt="javascript")
      span Javascript
    a.tech__item_item(href="https://www.typescriptlang.org" target="_blank")
      img(src="./images/tech/typescript.webp" alt="typescript")
      span Typescript
    a.tech__item_item(href="https://jestjs.io/ru/" target="_blank")
      img(src="./images/tech/jest.webp" alt="jest")
      span Jest
    a.tech__item_item(href="https://vuejs.org" target="_blank")
      img(src="./images/tech/vue.webp" alt="vue")
      span Vue
    a.tech__item_item(href="https://nuxt.com" target="_blank")
      img(src="./images/tech/nuxt.webp" alt="nuxt")
      span Nuxt
    a.tech__item_item(href="https://graphql.org" target="_blank")
      img(src="./images/tech/graphql.webp" alt="graphql")
      span Graphql
    a.tech__item_item(href="https://www.docker.com" target="_blank")
      img(src="./images/tech/docker.webp" alt="docker")
      span Docker
