section#tech.tech.container
  .tech__header
    h3.block__title Технологии
    h5.block__description Указанны активно использовавшиеся в работе. Есть куча других, просто пощупанных.

  .tech__items
    a.tech__item_item
      img(src="/images/tech/html.png" alt="html")
      span HTML
    a.tech__item_item
      img(src="/images/tech/css.png" alt="css")
      span CSS
    a.tech__item_item
      img(src="/images/tech/sass.png" alt="sass")
      span Scss
    a.tech__item_item
      img(src="/images/tech/javascript.png" alt="javascript")
      span Javascript
    a.tech__item_item
      img(src="/images/tech/typescript.png" alt="typescript")
      span Typescript
    a.tech__item_item
      img(src="/images/tech/jest.png" alt="jest")
      span Jest
    a.tech__item_item
      img(src="/images/tech/vue.png" alt="vue")
      span Vue
    a.tech__item_item
      img(src="/images/tech/nuxt.png" alt="nuxt")
      span Nuxt
    a.tech__item_item
      img(src="/images/tech/graphql.png" alt="graphql")
      span Graphql
    a.tech__item_item
      img(src="/images/tech/docker.png" alt="docker")
      span Docker
