section#zero.container.zero
  .zero__content
    h4.zero__hi
      span 🤝 Ассалам алейкум!
      span 🙋‍♂️ РорчIами!
      span ✋ Hi!
      span ✋ Привет!
    h1.zero__title.block__title Я Гаджи,
      br
      span front-end developer
    h2.zero__about
      | На фреймворке
      a(href='https://vuejs.org/' target='_blank' rel='nofollow noopener')  Vue.js
      | .
      span.about-me__old 29
      |  лет.
      br
      | Нет предела совершенству, главное не останавливаться.

    .zero__actions
      a.zero__link.zero__link--github(href="https://github.com/gkhabada" target="blank") Github
      // a.zero__link.zero__link--resume(href="https://docs.google.com/document/d/1Y_wAkA-HyPWnKXB9pu9cfT9yJpxNSQOgPpEwU5d1uiA" target="blank") Резюме
      a.zero__link.zero__link--resume(href="https://hh.ru/resume/5bbf8671ff03898e660039ed1f4b6e4c385377" target="blank") Резюме

  img.zero__image(src="./images/myself/1.webp" alt="me")
