section#zero.container.zero
  .zero__content
    //- https://emojio.ru/
    h4.zero__hi ✋ Привет!
    h1.zero__title.block__title Я Гаджи,
      br
      span front-end developer
    h2.zero__about
      | На фреймворке
      a(href='https://vuejs.org/' target='_blank' rel='nofollow noopener')  Vue.js
      | .
      span.about-me__old 29
      |  лет.
      br
      | Нет предела совершенству, главное не останавливаться.

    .zero__actions
      a.zero__link.zero__link--github(href="https://github.com/gkhabada" target="blank") Github
      a.zero__link.zero__link--telegram(href="https://t.me/gkhabada" target="blank") Telegram

  img.zero__image(src="/images/logo-dark.webp")
