
/* about me */
.about-me {
  // min-height: 655px;
  position: relative;
  overflow: hidden;
  z-index: -1;
  padding: 20px 0;

  #device980 {
    position: relative;
  }
  &__photo {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: 0.3s;
      filter: brightness(25%);
    }
  }

  &__info {
    z-index: 1;
    width: 100%;
    padding: 15px;
    position: relative;
    color: $color-white;

    h1 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: $medium;
    }

    h2 {
      font-size: 52px;
      text-align: center;
      font-weight: $bold;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      margin-bottom: 50px;
    }
    p {
      font-size: 22px;
      line-height: 26px;
      font-weight: $light;
      margin-bottom: 14px;
    }
    a {
      color: #23c869;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      font-weight: $medium;
    }
    ul {
      li {
        font-size: 22px;
        line-height: 1.4;
        font-weight: $light;
        padding-bottom: 3px;
        margin-bottom: 3px;
        span {
          font-weight: $medium;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #dedede;
        }
      }
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 1150px) {
  .about-me {
    min-height: 560px;
  }
}

@media (max-width: 980px) {
  .about-me__info {
    width: 100%;
  }
  .about-me__info p,
  .about-me__info ul li {
    font-size: 20px;
  }
  #device980 {
    width: 94%;
    padding: 0 3%;
  }
}

@media (max-width: 767px) {
  .about-me__info p,
  .about-me__info ul li {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .about-me__info p,
  .about-me__info ul li {
    font-size: 16px;
  }
}
