@import "variables";

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-regular.ttf') format('truetype'),
    url('../font/worksans-regular.otf') format('opentype'),
    url('../font/worksans-regular.woff2') format('woff2'),
    url('../font/worksans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-medium.ttf') format('truetype'),
    url('../font/worksans-medium.otf') format('opentype'),
    url('../font/worksans-medium.woff2') format('woff2'),
    url('../font/worksans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-semibold.ttf') format('truetype'),
    url('../font/worksans-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-bold.ttf') format('truetype'),
    url('../font/worksans-bold.otf') format('opentype'),
    url('../font/worksans-bold.woff2') format('woff2'),
    url('../font/worksans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-black.ttf') format('truetype'),
    url('../font/worksans-black.otf') format('opentype'),
    url('../font/worksans-black.woff2') format('woff2'),
    url('../font/worksans-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/*    general styles   */

html {
  scroll-behavior: smooth;

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 120%;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 85px;

  position: relative;
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: 0.5s;
  // background: var(--gradient);
  background-color: #49494E;
  border-radius: 12px;
}

/* animation */

@keyframes rotage {
  0% {
    transform: rotate(0);
  }
  50% {
    filter: grayscale(100%);
  }
  100% {
    transform: rotate(360deg);
  }
}

$transition-duration: 2s;
$path-length: 157px;

svg {
  overflow: visible;
  width: 100px;
  height: 150px;

  g {
    animation: slide $transition-duration linear infinite;

    &:nth-child(2) {
      animation-delay: calc($transition-duration / 4);

      path {
        animation-delay: calc($transition-duration / 4);
        stroke-dasharray: 0px $path-length + 1;
        stroke-dashoffset: 1px;
      }
    }
  }

  path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 $path-length;
    stroke-dashoffset: 0;
    animation: escalade $transition-duration cubic-bezier(0.8, 0, 0.2, 1) infinite;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes escalade {
  0% {
    stroke-dasharray: 0 $path-length;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: $path-length - 1 $path-length;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: $path-length - 1 $path-length;
    stroke-dashoffset: -($path-length - 1);
  }
}


@keyframes rubbb {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubbb {
  animation-duration: 0.7s;
  display: inline-block;
  // margin-left: -8px;
  animation-fill-mode: both;
}
.rubbb:hover {
  animation-name: rubbb;
  color: #23c869 !important;
}

@keyframes front {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.front {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.front {
  animation-duration: 0.7s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  display: inline-block;
  // margin-left: -8px;
  animation-fill-mode: both;
}
.front:hover {
  animation-name: rubbb;
  color: #23c869 !important;
}

// new

.container {
  width: min(100%, calc(1200px + 2rem));
  padding-inline: 1rem;
  margin-inline: auto;
  box-sizing: border-box;
}

.block__title {
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 114%;
  color: var(--main-color);
}

.block__description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: right;
  color: var(--accent-color);
}

@mixin gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
