@import "variables";

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-regular.ttf') format('truetype'),
    url('../font/worksans-regular.otf') format('opentype'),
    url('../font/worksans-regular.woff2') format('woff2'),
    url('../font/worksans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-medium.ttf') format('truetype'),
    url('../font/worksans-medium.otf') format('opentype'),
    url('../font/worksans-medium.woff2') format('woff2'),
    url('../font/worksans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-semibold.ttf') format('truetype'),
    url('../font/worksans-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-bold.ttf') format('truetype'),
    url('../font/worksans-bold.otf') format('opentype'),
    url('../font/worksans-bold.woff2') format('woff2'),
    url('../font/worksans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Work Sans';
  src: url('../font/worksans-black.ttf') format('truetype'),
    url('../font/worksans-black.otf') format('opentype'),
    url('../font/worksans-black.woff2') format('woff2'),
    url('../font/worksans-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/*    general styles   */

html {
  scroll-behavior: smooth;

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 120%;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 85px;

  position: relative;
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--lite-bg);
}

::-webkit-scrollbar-thumb {
  transition: 0.5s;
  background-color: #8A8A8E;
  border-radius: 12px;
}


.container {
  width: min(100%, calc(1200px + 2rem));
  padding-inline: 1rem;
  margin-inline: auto;
  box-sizing: border-box;
}

.block__title {
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 114%;
  color: var(--main-color);

  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.block__description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: right;
  color: var(--accent-color);

  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

@mixin gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
