footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 32px;

  background-color: #161513;
  border-radius: 24px 24px 0 0;

  .footer__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
      background-color: #2A2A31;
      border-radius: 8px;
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1;
      color: #FFFFFF;
    }
  }

  .footer__soc {
    display: flex;
    align-items: center;
    gap: 24px;

    .footer__soc_link {
      width: 44px;
      height: 44px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        background-color: #2A2A31;

        &:hover {
          background: var(--gradient);
        }
      }
    }
  }

  .footer__text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FFFFFF;
  }

  .footer__menu {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .footer__menu_link {
    padding: 8px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FFFFFF;

    &:hover {
      @include gradient-text;
    }
  }
}
