footer {
  display: flex;
  flex-direction: column;
  padding-block: 40px;
  gap: 2rem;

  background-color: #161513;
  border-radius: 24px 24px 0 0;

  @media screen and (max-width: 768px) {
    padding-block: 2rem;
  }

  .footer__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      &:last-of-type {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 2rem;
      }
    }
  }

  .footer__logo {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
      background-color: #2A2A31;
      border-radius: 8px;

      @media screen and (max-width: 768px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1;
      color: #FFFFFF;
    }
  }

  .footer__soc {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    .footer__soc_link {
      width: 44px;
      height: 44px;

      @media screen and (max-width: 768px) {
        width: 2.5rem;
        height: 2.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        background-color: #2A2A31;

        &:hover {
          background: var(--gradient);
        }
      }
    }
  }

  .footer__text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FFFFFF;
  }

  .footer__menu {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
      gap: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .footer__menu_link {
    padding: 0.5rem 1.5rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FFFFFF;

    @media screen and (max-width: 768px) {
      padding-inline: 0;
    }

    @media (hover) {
      &:hover {
        @include gradient-text;
      }
    }
  }
}
