header {
  height: 78px;
  background-color: var(--main-bg);
  box-shadow: 0px 4.4px 16px -2.2px rgba(0, 0, 0, 0.1);

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
      background-color: #2A2A31;
      border-radius: 8px;
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1;
      color: var(--main-color);
    }
  }

  .header__menu {
    display: flex;
    align-items: center;
    gap: 30px;

    .header__menu_link {
      padding: 8px 24px;

      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 120%;
      color: var(--main-color);

      &:hover {
        @include gradient-text;
      }
    }

    .header__menu_btn {
      padding: 8px 16px;
      background-color: var(--main-color);
      border-radius: 32px;

      color: var(--main-bg);
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 120%;

      &:hover {
        background: var(--gradient);
      }
    }
  }
}
