// best project
.projects {
  .projects__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 80px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 4rem;
    }
  }

  .block__description {
    max-width: 460px;
  }

  .projects__items {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1.25rem));
    row-gap: 4.5rem;
    column-gap: 2.5rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, calc(50% - 0.5rem));
      row-gap: 3.5rem;
      column-gap: 1rem;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 100%;
      row-gap: 2.5rem;
    }
  }

  .projects__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    @media (hover) {
      &:hover {
      @include gradient-text;

      .projects__item_image::after {
        opacity: 0.5;
      }
    }
    }
  }

  .projects__item_image {
    aspect-ratio: 28 / 15;
    background-color: var(--accent-color);
    border-radius: 2rem;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 768px) {
      border-radius: 1.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      inset: 0;
      opacity: 0;
      background: var(--gradient);
      transition: 300ms;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .projects__item_title {
    width: fit-content;
    text-indent: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--main-color);
    transition: 200ms;

    @media screen and (max-width: 768px) {
      text-indent: 1rem;
    }
  }
}
