.zero {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  @media screen and (max-width: 768px) {
    padding-block: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .zero__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .zero__hi {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #8A8A8E;
  }

  .zero__title {
    font-weight: 700;

    span {
      @include gradient-text;
      font-weight: 900;
    }
  }

  .zero__about {
    max-width: 660px;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: var(--accent-color);

    a {
      color: #42b883;

      @media (hover) {
        &:hover {
          @include gradient-text;
        }
      }
    }

    .about-me__old {
      padding-left: 0.25rem;
    }
  }

  .zero__actions {
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 768px) {
      gap: 0.75rem;
    }
  }

  .zero__link {
    display: block;
    border-radius: 32px;
    box-sizing: border-box;
    transition: 300ms;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;

    &--github {
      padding: 1rem 2rem;
      background-color: var(--main-color);
      color: var(--main-bg);

      @media (hover) {
        &:hover {
          background: var(--gradient);
        }
      }
    }

    &--telegram {
      padding: calc(1rem - 2px) calc(2rem - 2px);
      border: 2px solid var(--main-color);
      background-color: var(--main-bg);
      color: var(--main-color);

      @media (hover) {
        &:hover {
          @include gradient-text;
        }
      }
    }
  }

  .zero__image {
    max-width: 430px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 3.5rem;

    &.zero__image--circle {
      animation-name: toCircle;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    &.zero__image--square {
      animation-name: toSquare;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes toCircle {
  from {
    transform: rotate(0);
    border-radius: 3.5rem;
  }
  to {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}

@keyframes toSquare {
  from {
    transform: rotate(0);
    border-radius: 50%;
  }
  to {
    transform: rotate(360deg);
    border-radius: 3.5rem;
  }
}
