.zero {
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  .zero__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .zero__hi {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #8A8A8E;
  }

  .zero__title {
    font-weight: 700;

    span {
      @include gradient-text;
      font-weight: 900;
    }
  }

  .zero__about {
    max-width: 660px;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: var(--accent-color);

    a {
      color: #42b883;

      &:hover {
        @include gradient-text;
      }
    }

    .about-me__old {
      padding-left: 4px;
    }
  }

  .zero__actions {
    display: flex;
    gap: 24px;
  }

  .zero__link {
    display: block;
    border-radius: 32px;
    box-sizing: border-box;
    transition: 300ms;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;

    &--github {
      padding: 16px 32px;
      background-color: var(--main-color);
      color: var(--main-bg);

      &:hover {
        background: var(--gradient);
      }
    }

    &--telegram {
      padding: 14px 30px;
      border: 2px solid var(--main-color);
      background-color: var(--main-bg);
      color: var(--main-color);

      &:hover {
        @include gradient-text;
      }
    }
  }

  .zero__image {
    width: 430px;
    height: 430px;
    object-fit: cover;
    object-position: center;
    border-radius: 3.5rem;

    &.zero__image--circle {
      animation-name: toCircle;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    &.zero__image--square {
      animation-name: toSquare;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes toCircle {
  from {
    transform: rotate(0);
    border-radius: 3.5rem;
  }
  to {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}

@keyframes toSquare {
  from {
    transform: rotate(0);
    border-radius: 50%;
  }
  to {
    transform: rotate(360deg);
    border-radius: 3.5rem;
  }
}
